{% extends 'base.html' %}
{% load humanize %}  <!-- Formatting product price (ex: 12,300) -->
{% load crispy_forms_tags %}

{% block content %}
<div class="row align-items-center">
    <div class="col align-self-center">
        <h2>{{ product.name }}</h2>
        <h3>${{ product.price|intcomma }}</h3>
        <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Buy">
        </form>
        </div>
    </div>
</div>
{% endblock content %}