{% extends 'base.html' %}

{% block content %}
<ul class="list-group">
{% for order in order_list %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold fs-3"><a href="{{ order.get_absolute_url }}">Order ID : {{ order.id }}</a></div>
            <div class="d-flex my-2">
                <h5 class="fw-bold">{{ order.products }}</h5>
                <span class="badge bg-info mx-2 " style="font-size: 1.1rem;">{{ order.quantity }} pcs</span>
                <span class="badge bg-success mx-2" style="font-size: 1.1rem;">{{ order.status }}</span>
            </div>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock content %}
