{% extends 'base.html' %}
{% load humanize %}  <!-- Formatting product price (ex: 12,300) -->

{% block content %}
    <div class="card">
        <h4 class="card-header p-3 fw-bold">Order ID : {{ order.id }}</h4>
        <div class="card-body p-0">
        <h5 class="card-title p-3">Thanks for your order, {{ order.user }}</h5>
        <p class="card-text"><pre>
    Product     : {{ order.products }} <br>
    Quantity    : {{ order.quantity }} <br>
    Status      : {{ order.status }} <br>
    Date        : {{ order.date_created }} <br>
    Address     : {{ order.address }} <br><br>
    <b>Total Price : ${{ order.total_price|intcomma }} </b></pre></p>
        </div>
        <div class="d-grid gap-2 d-sm-block p-3 ms-3">
            <a class="btn btn-danger" href="{% url 'orders:delete' order.id %}">Cancel Order</a>
            <a class="btn btn-success" href="#">Complete</a>
        </div>
    </div>
{% endblock content %}