{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="row justify-content-center g-2 m-5">
          <div class="col-lg-3 text-center">
            <img src="{% static 'img/user.png' %}" style="height: 250px; width: 250px;">
          </div>
          <div class="col-lg-6 text-center">
            <div class="card-body">
              <h4 class="card-title mb-4">Sign into your account</h4>
                <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary mb-3" type="submit" value="Login">
                </form>
              <p class="card-text"><small class="text-muted">Don't have an account?</small>
              <a href="{% url 'accounts:register' %}">Register here</a></p>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}