{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="row justify-content-evenly align-items-center g-2 m-5">
          <div class="col-lg-3 text-center">
            <img src="{% static 'img/user.png' %}" style="height: 250px; width: 250px;">
          </div>
          <div class="col-lg-6 text-center">
            <div class="card-body">
              <h4 class="card-title mb-4">Register</h4>
                <div>
                    <form method="POST" class="row g-3 needs-validation">
                    {% csrf_token %}
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                    <input type="password" name="password1" class="form-control" placeholder="Password" required>
                    <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                    <input class="btn btn-primary mb-2" type="submit" value="Register">
                    </form>
                </div>
              <p class="card-text"><small class="text-muted">Already have an account?</small>
              <a href="{% url 'accounts:login' %}">Login here</a></p>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}