{% extends 'base.html' %}
{% load humanize %}  <!-- Formatting product price (ex: 12,300) -->

{% block content %}
    <div class="row">
        {% for product in product_list %}
        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="card mt-3 bg-dark">
                <img src="{{ product.image.url }}" class="card-img-top mx-auto mt-5" style="height: 200px; width: 200px;">
                <div class="card-body text-light text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>${{ product.price|intcomma }}</p>
                    <a class="btn btn-primary" href="{{ product.get_absolute_url }}">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}